[color]
  ui = auto
[alias]
  a = add
  b = branch
  c = commit -m
  d = diff
  dw = diff --word-diff
  ds = diff --staged
  dws = diff --word-diff --staged
  co = checkout
  r = remote
  s = status
  sup = branch --all --verbose
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  unstage = reset HEAD --
  done = branch --merged
  todo = branch --no-merged
  update = fetch --all --prune
[credential]
  helper = osxkeychain
[mergetool]
  keepBackup = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  ignorecase = false
  editor = subl -n -w
