# package managers
alias ni='npm install '
alias be='bundle exec '

# utils
alias l='ls -FlaG'
alias grep='grep --color=auto'
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# rails
alias farmdb='be rake db:drop && be rake db:create && be rake db:migrate && be rake db:seed'

# middleman
alias mm='bundle exec middleman'

# github pull request
alias preq='hub pull-request'

# git
alias g='git'
alias ga='git add'
alias gc='git commit -m'
alias gd='git diff'
alias gs='git status'
alias gw='git diff --word-diff'

# alias hub to git
eval "$(hub alias -s)"

# prompt options
alias rebash='source ~/.bash_profile'
alias subash='subl ~/dotfiles'

# get alias halp
alias halp='alias -p'
# get git alias halp
alias galp='git config --get-regexp alias'

# internet
alias browse='open -a "/Applications/Google Chrome.app"'

# open tabs with list of common IPs for routers, as you do
alias findrouter='open http://192.168.0.1/ http://192.168.1.1/ http://192.168.1.2/ http://192.168.2.1/ http://192.168.123.254/'
