# utils
alias l='ls -FlaG'
alias grep='grep --color=auto'
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# git
alias g='git'

# alias hub to git
command -v hub >/dev/null 2>&1 && eval "$(hub alias -s)"
# github pull request
command -v hub >/dev/null 2>&1 && alias preq='hub pull-request'

# prompt options
alias rebash='source ~/.bash_profile'
alias subash='subl $DOTFILES'

# get alias halp
alias halp='alias -p'
# get git alias halp
alias galp='git config --get-regexp alias'

# internet
alias browse='open -a "/Applications/Google Chrome.app"'

# open tabs with list of common IPs for routers, as you do
alias findrouter='open http://192.168.0.1/ http://192.168.1.1/ http://192.168.1.2/ http://192.168.2.1/ http://192.168.123.254/'

# serve a directory
alias serve='python -m SimpleHTTPServer 8000'

# docker
command -v docker-machine >/dev/null 2>&1 && alias dockerenv='eval "$(docker-machine env dev)"'
