# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Add local node_modules to path
export PATH=$PATH:./node_modules/.bin

# make sure brew paths precede /usr/bin
export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:$PATH"

# set sublimetext3 as default editor
# https://www.sublimetext.com/docs/3/osx_command_line.html
export EDITOR='subl -n -w'
export VISUAL='subl -n -w'

# pretty colors
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

# export OS shorthand identifier
if [ "$OSTYPE" = "linux-gnu" ]; then
  export OS='linux'
elif [ "$OSTYPE" = "darwin"* ]; then
  export OS='osx'
elif [ "$OSTYPE" = "cygwin" ]; then
  export OS='windows'
elif [ "$OSTYPE" = "msys" ]; then
  export OS='windows'
elif [ "$OSTYPE" = "win32" ]; then
  export OS='windows'
elif [ "$OSTYPE" = "freebsd"* ]; then
  export OS='bsd'
else
  export OS='unknown'
fi

# keep global node modules out of /usr/local
# npm set prefix ~/.local/share/npm/
export PATH="$PATH:$HOME/.local/share/npm/bin"
