# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH"

# make sure brew paths precede /usr/bin
export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:$PATH"

# set sublimetext2 as default editor (expects http://www.sublimetext.com/docs/2/osx_command_line.html)
export EDITOR='subl -w'

# pretty colors
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced